<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <config>
    <!--<add key="globalPackagesFolder" value="artifacts/pkg" />-->
  </config>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="mm-local" value="artifacts/package/release/" />
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="MonoMod.*" />
      <package pattern="MonoMod.Backports" />
    </packageSource>
    <packageSource key="mm-local">
      <package pattern="MonoMod.*" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.CodeAnalysis.Testing" />
      <package pattern="Microsoft.CodeAnalysis.Testing.*" />
      <package pattern="Microsoft.CodeAnalysis.Analyzer.Testing" />
      <package pattern="Microsoft.CodeAnalysis.Analyzer.Testing.*" />
      <package pattern="Microsoft.CodeAnalysis.SourceGenerators.Testing" />
      <package pattern="Microsoft.CodeAnalysis.SourceGenerators.Testing.*" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.Analyzer.Testing" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.Analyzer.Testing.*" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.SourceGenerators.Testing" />
      <package pattern="Microsoft.CodeAnalysis.CSharp.SourceGenerators.Testing.*" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>
