[*.cs]
# Configure null check validation functions so the compiler does not complain
dotnet_code_quality.CA1062.null_check_validation_methods = ThrowArgumentNullException

# CA2201: Do not raise reserved exception types
dotnet_code_quality.CA2201.severity = none

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = none

# IDE0007: Use implicit type
dotnet_diagnostic.IDE0007.severity = suggestion

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity = none

# CA2002: Do not lock on objects with weak identity
dotnet_diagnostic.CA2002.severity = none

# CA1010: Generic interface should also be implemented
dotnet_diagnostic.CA1010.severity = none

# CA1033: Interface methods should be callable by child types
dotnet_diagnostic.CA1033.severity = none

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = none

# CA5394: Do not use insecure randomness
dotnet_diagnostic.CA5394.severity = suggestion

# CA2217: Do not mark enums with FlagsAttribute
dotnet_diagnostic.CA2217.severity = suggestion

# CA1065: Do not raise exceptions in unexpected locations
dotnet_diagnostic.CA1065.severity = none

# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = none

# CA1019: Define accessors for attribute arguments
dotnet_diagnostic.CA1019.severity = none

# CA1008: Enums should have zero value
dotnet_diagnostic.CA1008.severity = none
